# This is Git's per-user configuration file.

[user]
	name = Jesse Katsumata
	email = jesse.katsumata@gmail.com

[alias]
	co = checkout
	cb = checkout -b
	cm = commit -m
  cp = cherry-pick
	aa = add --all
	st = status
	pop = stash pop
	po = push origin
	pom = push origin master
  rb = rebase
	
[ghq]
	root = "~/.ghq"
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
