# This is Git's per-user configuration file.

[user]
	name = Jesse Katsumata
	email = jesse.katsumata@gmail.com

[includeIf "gitdir:~/.ghq/github.com/CureApp"]
	path = .gitconfig_work

[alias]
	co = checkout
	cb = checkout -b
	cm = commit -m
	aa = add --all
	st = status
	pop = stash pop
	po = push origin
	pom = push origin master
	
